<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oratakashi.covid19">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".root.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.hospital.HospitalActivity"></activity>
        <activity android:name=".ui.hotline.HotlineActivity" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.timeline.detail.DetailTimelineActivity" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.v2.GlobalDetailActivity"
            android:label="@string/title_activity_global_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.v2.SecondaryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.timeline.TimelineActivity" />
        <!--
             API KEY diperlukan untuk menampilkan fitur maps
             Anda bisa dapatkan secara resmi di Situs official GoogleMap
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.main.v1.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>